@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0;
}

body {
  min-width: 320px;
}

#scroll-percentage {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #08A6E4;
  z-index: 1;
}

.pop-up-modal {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.pop-up-modal--display {
  display: block;
}
.pop-up-modal__background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  z-index: 3;
}
.pop-up-modal__content {
  position: relative;
  background-color: #FFFFFF;
  width: 80%;
  top: 30%;
  margin: 0 auto;
  vertical-align: middle;
  border: 4px solid #08A6E4;
  border-radius: 15px;
  z-index: 4;
  padding-bottom: 3%;
}
.pop-up-modal__content__title {
  font-size: 17px;
  padding-top: 1em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2em;
}
.pop-up-modal__content__form {
  width: 60%;
  margin: 0 auto;
}
.pop-up-modal__content__form__email__label {
  display: block;
  font-size: 11px;
  color: #08A6E4;
}
.pop-up-modal__content__form__email__input {
  display: block;
  width: 90%;
  height: 30px;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #95989A;
  font-size: 15px;
  margin-bottom: 1em;
}
.pop-up-modal__content__form__email__input:focus {
  outline: none;
}
.pop-up-modal__content__form__button {
  display: block;
  width: 40%;
  height: 40px;
  font-size: 13px;
  font-weight: 700;
  background-color: #08A6E4;
  color: #FFFFFF;
  border: 1px solid #08A6E4;
  border-radius: 15px;
  margin-bottom: 1em;
  cursor: pointer;
}
.pop-up-modal__content__form__message {
  display: none;
  font-size: 15px;
}
.pop-up-modal__content__form__message--error {
  display: block;
  color: #FB3B64;
}
.pop-up-modal__content__form__message--correct {
  display: block;
  color: #55DFB4;
}
.pop-up-modal__content__close {
  position: absolute;
  top: 4%;
  right: 2%;
  font-size: 13px;
  font-weight: 700;
}

.header {
  width: 100%;
}
.header--menu-open {
  position: absolute;
  top: 0;
  height: 25vh;
  z-index: 1;
  background-color: #FFFFFF;
}
.header--shadow {
  box-shadow: 0 3px 9px -4px #000000;
}
.header__content {
  height: 10vh;
  display: block;
  padding-bottom: 10px;
}
.header__content__logo {
  display: inline-block;
  font-size: 32px;
  font-weight: 300;
  margin-top: 17px;
  margin-left: 6%;
}
.header__content__logo--blue {
  color: #08A6E4;
}
.header__content__button-menu {
  display: inline-block;
}
.header__content__button-menu__open, .header__content__button-menu__close {
  display: none;
  position: absolute;
  top: 0.8em;
  right: 2em;
  font-size: 25px;
}
.header__content__button-menu__open--open-menu-actived, .header__content__button-menu__close--open-menu-actived {
  display: block;
}
.header__content__button-menu__open--close-menu-actived, .header__content__button-menu__close--close-menu-actived {
  display: block;
}
.header__content__button-menu--blue {
  color: #07ACE6;
}
.header__content__nav {
  margin-left: 6%;
  padding-top: 40px;
}
.header__content__nav__item a {
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3px;
  font-family: "Open Sans";
  list-style: none;
  color: #A5A5A5;
  text-decoration: none;
}
.header__content__nav__item a:hover {
  color: #000000;
}
.header__content__nav__item--active a {
  color: #000000;
}
.header__content__nav--closed {
  display: none;
}
.header__content__nav--opened {
  display: block;
}

.section-introduction {
  width: 100%;
  display: block;
  margin-top: 100px;
}
.section-introduction__content {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.section-introduction__header {
  font-size: 35px;
  margin-bottom: 20px;
}
.section-introduction__paragraph {
  font-size: 16px;
  font-family: "Open Sans";
  margin-bottom: 28px;
}
.section-introduction__button {
  background-color: #08A6E4;
  color: #FFFFFF;
  border-radius: 40px;
  width: 100%;
  height: 67px;
  border: 1px solid #08A6E4;
  box-shadow: 5px 10px 14px #07ACE6;
  margin-bottom: 51px;
  cursor: pointer;
}
.section-introduction__button--text {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
}
.section-introduction__button:hover {
  transform: scale(1.1);
}

.section2 {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.section2__image {
  background-image: url("./../img/background1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 267px;
  width: 100%;
}

.section3 {
  display: block;
  width: 100%;
  text-align: center;
}
.section3__title {
  font-size: 30px;
  font-weight: 300;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 1em;
}
.section3__column1, .section3__column2, .section3__column3 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}
.section3__column1__img, .section3__column2__img, .section3__column3__img {
  position: relative;
  margin-bottom: 14px;
  left: 15px;
}
.section3__column1__img--move, .section3__column2__img--move, .section3__column3__img--move {
  left: 32px;
}
.section3__column1__img--move2, .section3__column2__img--move2, .section3__column3__img--move2 {
  left: 26px;
}
.section3__column1__img2, .section3__column2__img2, .section3__column3__img2 {
  position: relative;
  bottom: 23px;
  right: 22px;
}
.section3__column1__img2--move, .section3__column2__img2--move, .section3__column3__img2--move {
  right: 15px;
}
.section3__column1__img2--move2, .section3__column2__img2--move2, .section3__column3__img2--move2 {
  right: 10px;
}
.section3__column1__number, .section3__column2__number, .section3__column3__number {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 6px;
  margin-bottom: 19px;
}
.section3__column1__text, .section3__column2__text, .section3__column3__text {
  font-size: 17px;
  color: #A5A5A5;
}

.section4 {
  display: block;
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
  padding-top: 42px;
  padding-bottom: 42px;
  margin-bottom: 6%;
}
.section4__column1, .section4__column2, .section4__column3 {
  width: 80%;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 41px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.section4__column1__images, .section4__column2__images, .section4__column3__images {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 27px;
  margin-top: 30px;
  width: 194px;
}
.section4__column1__images__image1, .section4__column2__images__image1, .section4__column3__images__image1 {
  position: relative;
  z-index: 2;
}
.section4__column1__images__image1--move-top, .section4__column2__images__image1--move-top, .section4__column3__images__image1--move-top {
  z-index: 1;
}
.section4__column1__images__image2, .section4__column2__images__image2, .section4__column3__images__image2 {
  position: absolute;
  z-index: 1;
  left: 47%;
  bottom: 20%;
}
.section4__column1__images__image2--move-right, .section4__column2__images__image2--move-right, .section4__column3__images__image2--move-right {
  top: 6%;
  left: 17%;
}
.section4__column1--bottom-change, .section4__column2--bottom-change, .section4__column3--bottom-change {
  margin-bottom: 0;
}
.section4__column1__text, .section4__column1__element1__text, .section4__column2__text, .section4__column2__element1__text, .section4__column3__text, .section4__column3__element1__text {
  width: 85%;
  margin-left: 22px;
}
.section4__column1__text__title, .section4__column1__element1__text__title, .section4__column2__text__title, .section4__column2__element1__text__title, .section4__column3__text__title, .section4__column3__element1__text__title {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 35px;
}
.section4__column1__text__parag, .section4__column1__element1__text__parag, .section4__column2__text__parag, .section4__column2__element1__text__parag, .section4__column3__text__parag, .section4__column3__element1__text__parag {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 30px;
}
.section4__column1__text__parag--bigger, .section4__column1__element1__text__parag--bigger, .section4__column2__text__parag--bigger, .section4__column2__element1__text__parag--bigger, .section4__column3__text__parag--bigger, .section4__column3__element1__text__parag--bigger {
  font-size: 16px;
  line-height: 22px;
}
.section4__column1__element2--green, .section4__column2__element2--green, .section4__column3__element2--green {
  background-color: #55DFB4;
  height: 200px;
  position: relative;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.section4__column1__element2__image, .section4__column2__element2__image, .section4__column3__element2__image {
  position: absolute;
  left: 45%;
  top: 65%;
  transform: translate(-50%, -50%);
}
.section4__column1__images__image1 {
  background-image: url("./../img/macbook.png");
  height: 110px;
}
.section4__column1__images__image2 {
  background-image: url("./../img/circle.png");
  height: 127px;
  width: 127px;
}
.section4__column2__images__image1 {
  background-image: url("./../img/ellipse4.png");
  width: 132px;
  height: 132px;
  margin: 0 auto;
}
.section4__column2__images__image2 {
  background-image: url("./../img/iPhone.png");
  width: 175px;
  height: 135px;
  margin: 0 auto;
}
.section4__column3 {
  background-color: #F7F7F7;
  border: none;
}
.section4__column3__element1 {
  padding-top: 10%;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
}

.section-prices {
  text-align: center;
}
.section-prices__currency {
  margin: auto;
  margin-bottom: 4%;
  width: 75%;
}
.section-prices__currency__label {
  display: block;
  font-size: 15px;
  margin-bottom: 1em;
}
.section-prices__currency__select {
  width: 5em;
  font-size: 20px;
  border-radius: 10px;
}
.section-prices__currency__select option {
  background-color: #FFFFFF;
  font-size: 15px;
}
.section-prices__currency__select option:checked {
  background-color: #08A6E4;
}
.section-prices__title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 1em;
}
.section-prices__price1, .section-prices__price2, .section-prices__price3 {
  width: 75%;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 55px;
  transition: transform 0.1s;
}
.section-prices__price1--red, .section-prices__price2--red, .section-prices__price3--red {
  border: 1px solid #FB3B64;
}
.section-prices__price1--blue, .section-prices__price2--blue, .section-prices__price3--blue {
  border: 1px solid #07ACE6;
}
.section-prices__price1--green, .section-prices__price2--green, .section-prices__price3--green {
  border: 1px solid #55DFB4;
  margin-bottom: 78px;
}
.section-prices__price1__type, .section-prices__price2__type, .section-prices__price3__type {
  display: inline-block;
  position: relative;
  bottom: 25px;
  width: 50%;
  text-align: center;
}
.section-prices__price1__type__title, .section-prices__price2__type__title, .section-prices__price3__type__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #13253B;
}
.section-prices__price1__type__number, .section-prices__price2__type__number, .section-prices__price3__type__number {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans";
  line-height: 64px;
}
.section-prices__price1__type__number--red, .section-prices__price2__type__number--red, .section-prices__price3__type__number--red {
  color: #FB3B64;
}
.section-prices__price1__type__number--blue, .section-prices__price2__type__number--blue, .section-prices__price3__type__number--blue {
  color: #07ACE6;
}
.section-prices__price1__type__number--green, .section-prices__price2__type__number--green, .section-prices__price3__type__number--green {
  color: #55DFB4;
}
.section-prices__price1__type__text, .section-prices__price2__type__text, .section-prices__price3__type__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253B;
}
.section-prices__price1__features, .section-prices__price2__features, .section-prices__price3__features {
  margin-top: 25px;
  width: 50%;
  text-align: left;
  display: inline-block;
}
.section-prices__price1__features__check-mark, .section-prices__price2__features__check-mark, .section-prices__price3__features__check-mark {
  background: url("./../img/checkbox.png");
  width: 11px;
  height: 11px;
  display: inline-block;
}
.section-prices__price1__features__cross-mark, .section-prices__price2__features__cross-mark, .section-prices__price3__features__cross-mark {
  background: url("./../img/cross.png");
  width: 11px;
  height: 11px;
  display: inline-block;
}
.section-prices__price1__features__feature1, .section-prices__price1__features__feature2, .section-prices__price1__features__feature3, .section-prices__price1__features__feature4, .section-prices__price1__features__feature5, .section-prices__price2__features__feature1, .section-prices__price2__features__feature2, .section-prices__price2__features__feature3, .section-prices__price2__features__feature4, .section-prices__price2__features__feature5, .section-prices__price3__features__feature1, .section-prices__price3__features__feature2, .section-prices__price3__features__feature3, .section-prices__price3__features__feature4, .section-prices__price3__features__feature5 {
  margin-bottom: 20px;
  display: block;
}
.section-prices__price1__features__feature1__label, .section-prices__price1__features__feature2__label, .section-prices__price1__features__feature3__label, .section-prices__price1__features__feature4__label, .section-prices__price1__features__feature5__label, .section-prices__price2__features__feature1__label, .section-prices__price2__features__feature2__label, .section-prices__price2__features__feature3__label, .section-prices__price2__features__feature4__label, .section-prices__price2__features__feature5__label, .section-prices__price3__features__feature1__label, .section-prices__price3__features__feature2__label, .section-prices__price3__features__feature3__label, .section-prices__price3__features__feature4__label, .section-prices__price3__features__feature5__label {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}
.section-prices__price1__button, .section-prices__price2__button, .section-prices__price3__button {
  width: 150px;
  height: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 2em;
  border-radius: 23px;
  font-size: 13px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 18px;
  color: #FFFFFF;
}
.section-prices__price1__button--red, .section-prices__price2__button--red, .section-prices__price3__button--red {
  border: 1px solid #FB3B64;
  background-color: #FB3B64;
}
.section-prices__price1__button--blue, .section-prices__price2__button--blue, .section-prices__price3__button--blue {
  border: 1px solid #07ACE6;
  background-color: #07ACE6;
}
.section-prices__price1__button--green, .section-prices__price2__button--green, .section-prices__price3__button--green {
  border: 1px solid #55DFB4;
  background-color: #55DFB4;
}
.section-prices__price1:hover, .section-prices__price2:hover, .section-prices__price3:hover {
  transform: scale(1.1);
}
.section-prices__price1:hover {
  box-shadow: 5px 10px 27px -10px #FB3B64;
}
.section-prices__price2:hover {
  box-shadow: 5px 10px 27px -10px #07ACE6;
}
.section-prices__price3:hover {
  box-shadow: 5px 10px 27px -10px #55DFB4;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 5%;
}
.slider-container__slide {
  width: 100%;
  display: none;
  animation-name: fadeSlide;
  animation-duration: 5s;
  -webkit-animation-name: fadeSlide;
  -webkit-animation-duration: 5s;
  -moz-animation-name: fadeSlide;
  -moz-animation-duration: 5s;
}
.slider-container__slide--active {
  display: block;
}
@keyframes fadeSlide {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeSlide {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeSlide {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.slider-container__slide img {
  width: 100%;
  background-size: auto;
}
.slider-container__next, .slider-container__prev {
  position: absolute;
  top: 50%;
  font-size: 3vh;
  width: 2em;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #95989A;
  z-index: 1;
  padding-bottom: 0.2em;
}
.slider-container__next {
  right: 2%;
}
.slider-container__prev {
  left: 2%;
}
.slider-container__position {
  display: flex;
  position: absolute;
  left: 45%;
  bottom: 2%;
  font-size: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: #95989A;
  z-index: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}
.slider-container__position i {
  font-size: 10px;
  color: #FFFFFF;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.section-contact {
  width: 80%;
  margin: 0 auto;
}
.section-contact__info {
  margin-bottom: 53px;
}
.section-contact__info__title {
  font-size: 40px;
  line-height: 47px;
}
.section-contact__info__text {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 38px;
}
.section-contact__info__email, .section-contact__info__phone {
  display: block;
  margin-bottom: 10px;
}
.section-contact__info__email__icon, .section-contact__info__phone__icon {
  display: inline-block;
  margin-right: 7px;
}
.section-contact__info__email__text, .section-contact__info__phone__text {
  display: inline-block;
  font-size: 16px;
  color: #A5A5A5;
  font-weight: 600;
  font-family: "Open Sans";
  line-height: 22px;
  vertical-align: text-bottom;
}
.section-contact__form__name, .section-contact__form__email {
  margin-bottom: 42px;
}
.section-contact__form__name__text, .section-contact__form__email__text {
  display: block;
  font-size: 11px;
  font-weight: 600;
  font-family: "Open Sans";
  line-height: 15px;
  letter-spacing: 3px;
  color: #08A6E4;
}
.section-contact__form__name__input, .section-contact__form__email__input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #95989A;
  font-size: 15px;
}
.section-contact__form__name__input--not-valid, .section-contact__form__email__input--not-valid {
  border: 1px solid #FB3B64;
}
.section-contact__form__name__input:focus, .section-contact__form__name .pop-up-modal__content__input:focus, .section-contact__form__email__input:focus, .section-contact__form__email .pop-up-modal__content__input:focus {
  outline: none;
}
.section-contact__form__name--margin-bottom-32, .section-contact__form__email--margin-bottom-32 {
  margin-bottom: 32px;
}
.section-contact__form__button {
  text-align: right;
}
.section-contact__form__button__style {
  height: 57px;
  width: 226px;
  background-color: #08A6E4;
  color: #FFFFFF;
  border: 1px solid #08A6E4;
  border-radius: 35px;
  font-size: 13px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 18px;
  box-shadow: 5px 10px 14px #07ACE6;
  margin-bottom: 2em;
  cursor: pointer;
}
.section-contact__form__button__style:hover {
  transform: scale(1.1);
}
.section-contact__form__protection input[type=checkbox] {
  display: none;
}
.section-contact__form__protection__text::before {
  content: "";
  border: 1px solid #95989A;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
.section-contact__form__protection__check:checked + .section-contact__form__protection__text::before {
  content: "✓";
  color: #08A6E4;
  font-size: 20px;
}
.section-contact__form__protection__text {
  width: 82%;
  display: inline-block;
  font-size: 12px;
  font-family: "Open Sans";
  line-height: 16px;
  margin-bottom: 33px;
}
.section-contact__form__protection__text--not-valid {
  border: 1px solid #FB3B64;
}
.section-contact__form__message {
  display: none;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2em;
}
.section-contact__form__message--error {
  display: block;
  color: #FB3B64;
}
.section-contact__form__message--correct {
  display: block;
  color: #55DFB4;
}

.back-to-top {
  display: none;
}
.back-to-top__button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #08A6E4;
  border: 1px solid #08A6E4;
  border-radius: 25px;
  height: 50px;
  width: 10%;
  cursor: pointer;
}
.back-to-top__button--move-top {
  bottom: 120px;
}
.back-to-top__button i {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}
.back-to-top__button:hover {
  transform: scale(1.1);
}

.footer {
  box-shadow: 0 -5px 40px -20px #000000;
}
.footer__content__info {
  width: 50%;
  display: inline-block;
  margin-left: 17px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.footer__content__info__title {
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  color: #08A6E4;
}
.footer__content__info__text {
  font-size: 11px;
  font-family: "Open Sans";
  line-height: 15px;
  color: #A5A5A5;
}
.footer__content__social-media {
  text-align: end;
  width: 15%;
  display: inline-block;
  position: relative;
  right: -25px;
}
.footer__content__social-media__facebook {
  position: absolute;
  bottom: 0;
  margin-left: 40px;
}
.footer__content__social-media__twitter {
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 1000px) {
  .pop-up-modal__content {
    width: 60%;
    padding-bottom: 2%;
  }
  .pop-up-modal__content__form {
    display: grid;
    grid-template-columns: repeat(2, 65%);
  }
  .pop-up-modal__content__form__message-error {
    grid-column: 1/span 2;
  }
  .header__content {
    display: flex;
  }
  .header__content__logo {
    width: 50%;
  }
  .header__content__button-menu__open, .header__content__button-menu__close {
    display: none;
  }
  .header__content__nav {
    width: 50%;
    height: inherit;
    display: flex;
    padding-top: 0;
  }
  .header__content__nav__item {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 30px;
    align-items: center;
  }
  .header__content__nav__item--active {
    padding-top: 4px;
    border-bottom: 4px solid #08A6E4;
  }
  .header__content__nav ul {
    width: 100%;
    display: flex;
  }
  .section-introduction__button {
    width: 440px;
  }
  .section2 {
    padding-bottom: 50px;
  }
  .section2__image {
    background-image: url("./../img/background.png");
  }
  .section3 {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .section3__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    width: 100%;
    margin-bottom: 2em;
  }
  .section3__column1, .section3__column2, .section3__column3 {
    display: inline-block;
    width: 33%;
  }
  .section4__column1, .section4__column2, .section4__column3 {
    display: flex;
    height: 370px;
  }
  .section4__column1__images, .section4__column2__images, .section4__column3__images {
    width: max-content;
  }
  .section4__column1__text, .section4__column1__element1__text, .section4__column2__text, .section4__column2__element1__text, .section4__column3__text, .section4__column3__element1__text {
    margin-top: 8%;
    width: 35%;
    height: fit-content;
  }
  .section4__column1__text__title, .section4__column1__element1__text__title, .section4__column2__text__title, .section4__column2__element1__text__title, .section4__column3__text__title, .section4__column3__element1__text__title {
    font-size: 36px;
    line-height: 42px;
  }
  .section4__column1__text__parag, .section4__column1__element1__text__parag, .section4__column2__text__parag, .section4__column2__element1__text__parag, .section4__column3__text__parag, .section4__column3__element1__text__parag {
    font-size: 16px;
    line-height: 22px;
  }
  .section4__column1 {
    flex-direction: row-reverse;
  }
  .section4__column1__text {
    border-bottom: 4px solid #FB3B64;
  }
  .section4__column1__images {
    left: 3%;
    top: 20%;
  }
  .section4__column1__images__image1 {
    background-image: url("./../img/macbook2.svg");
    width: 387px;
    height: 219px;
  }
  .section4__column1__images__image2 {
    background-image: url("./../img/rectange.svg");
    width: 255px;
    height: 255px;
    bottom: 38%;
  }
  .section4__column2__images {
    bottom: 4%;
    right: 10%;
  }
  .section4__column2__images__image1 {
    background-image: url("./../img/ellipse3-2.svg");
    width: 320px;
    height: 320px;
  }
  .section4__column2__images__image2 {
    background-image: url("./../img/iPhone2.svg");
    width: 426px;
    height: 328px;
    left: 2%;
  }
  .section4__column2__text {
    border-bottom: 4px solid #08A6E4;
    margin-right: 3%;
  }
  .section4__column2__text__title {
    width: 70%;
  }
  .section4__column3__element1 {
    width: 60%;
    margin-right: 7%;
    padding-top: 0;
  }
  .section4__column3__element1__text {
    width: 65%;
    height: auto;
    margin-top: 10%;
    border-bottom: 4px solid #55DFB4;
  }
  .section4__column3__element2 {
    width: 42%;
    height: auto;
  }
  .section4__column3__element2__image {
    top: 52%;
  }
  .section-prices {
    padding-bottom: 3%;
  }
  .section-prices__currency {
    width: 85%;
  }
  .section-prices__price1, .section-prices__price2, .section-prices__price3 {
    margin-right: 4%;
    margin-left: 4%;
    display: inline-block;
    vertical-align: top;
    width: 23%;
  }
  .section-prices__price1__type, .section-prices__price2__type, .section-prices__price3__type {
    display: block;
    margin-bottom: 3em;
    margin: 0 auto;
    position: static;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .section-prices__price1__features, .section-prices__price2__features, .section-prices__price3__features {
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
  }
  .section-prices__price1__type {
    padding-bottom: 14px;
  }
  .slider-container__slide img {
    height: 600px;
  }
  .slider-container__position {
    left: 47%;
  }
  .slider-container__next, .slider-container__prev {
    font-size: 3.5vh;
  }
  .section-contact {
    display: flex;
    flex-direction: row;
    width: 60%;
  }
  .section-contact__info {
    width: 50%;
  }
  .section-contact__info__title {
    font-size: 49px;
    line-height: 57px;
    margin-bottom: 5%;
  }
  .section-contact__info__email, .section-contact__info__phone {
    display: inline-block;
  }
  .section-contact__info__phone {
    margin-left: 20px;
  }
  .section-contact__form {
    width: 50%;
    margin-left: 7%;
  }
  .section-contact__form__protection__text {
    width: 100%;
  }
  .back-to-top__button {
    width: 7%;
  }
  .back-to-top__button i {
    font-size: 25px;
  }
  .footer__content {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .footer__content__info {
    width: 80%;
    margin-left: 4%;
  }
  .footer__content__social-media {
    width: 20%;
    margin-top: 35px;
    position: static;
  }
  .footer__content__social-media__twitter {
    position: static;
  }
  .footer__content__social-media__facebook {
    position: static;
  }
}

/*# sourceMappingURL=styles.css.map */
