@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  font-weight: 400;
  font-size: 0;
}

body {
  min-width: 320px;
}

.header {
  width: 100%;
}
.header--shadow {
  box-shadow: 0 3px 6px #000000;
}
.header__content {
  display: block;
  padding-bottom: 10px;
}
.header__content__logo {
  display: inline-block;
  font-size: 32px;
  font-weight: 300;
  margin-top: 17px;
  margin-left: 6%;
}
.header__content__logo--blue {
  color: #08A6E4;
}
.header__content__button-menu {
  display: inline-block;
}
.header__content__button-menu__checkbox {
  position: absolute;
  left: -9999px;
}
.header__content__button-menu__label {
  position: absolute;
  top: 0.8em;
  right: 2em;
  font-size: 25px;
}
.header__content__button-menu__label--blue {
  color: #07ACE6;
}
.header__content__nav {
  display: none;
  padding-top: 40px;
  margin-left: 25px;
}
.header__content__nav__item {
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3px;
  font-family: Open Sans;
  list-style: none;
  margin-bottom: 14px;
  color: #A5A5A5;
}
.header__content__nav__item--active {
  color: #000000;
}
.header #menu:checked ~ .header__menu {
  display: block;
}

.sectionIntroduction {
  width: 100%;
  display: block;
  margin-top: 100px;
}
.sectionIntroduction__content {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.sectionIntroduction__header {
  font-size: 35px;
  margin-bottom: 20px;
}
.sectionIntroduction__paragraph {
  font-size: 16px;
  font-family: Open Sans;
  margin-bottom: 28px;
}
.sectionIntroduction__button {
  background-color: #08A6E4;
  color: #FFFFFF;
  border-radius: 40px;
  width: 100%;
  height: 67px;
  border: 1px solid #08A6E4;
  box-shadow: 5px 10px 14px #07ACE6;
  margin-bottom: 51px;
}
.sectionIntroduction__button--text {
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 700;
}

.section2 {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.section2__image {
  background-image: url("./../img/background1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 267px;
  width: 100%;
}

.section3 {
  display: block;
  width: 100%;
  text-align: center;
}
.section3__title {
  font-size: 30px;
  font-weight: 300;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 1em;
}
.section3__column1, .section3__column2, .section3__column3 {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}
.section3__column1__img, .section3__column2__img, .section3__column3__img {
  position: relative;
  margin-bottom: 14px;
  left: 15px;
}
.section3__column1__img--move, .section3__column2__img--move, .section3__column3__img--move {
  left: 32px;
}
.section3__column1__img--move2, .section3__column2__img--move2, .section3__column3__img--move2 {
  left: 26px;
}
.section3__column1__img2, .section3__column2__img2, .section3__column3__img2 {
  position: relative;
  bottom: 23px;
  right: 22px;
}
.section3__column1__img2--move, .section3__column2__img2--move, .section3__column3__img2--move {
  right: 15px;
}
.section3__column1__img2--move2, .section3__column2__img2--move2, .section3__column3__img2--move2 {
  right: 10px;
}
.section3__column1__number, .section3__column2__number, .section3__column3__number {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 6px;
  margin-bottom: 19px;
}
.section3__column1__text, .section3__column2__text, .section3__column3__text {
  font-size: 17px;
  color: #A5A5A5;
}

.section4 {
  display: block;
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
  padding-top: 42px;
  padding-bottom: 42px;
}
.section4__column1, .section4__column2, .section4__column3 {
  width: 80%;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding-top: 37px;
  margin-bottom: 41px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.section4__column1__images, .section4__column2__images, .section4__column3__images {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 27px;
  width: 194px;
}
.section4__column1__images__image1, .section4__column2__images__image1, .section4__column3__images__image1 {
  position: relative;
  z-index: 2;
}
.section4__column1__images__image1--moveTop, .section4__column2__images__image1--moveTop, .section4__column3__images__image1--moveTop {
  z-index: 1;
}
.section4__column1__images__image2, .section4__column2__images__image2, .section4__column3__images__image2 {
  position: absolute;
  z-index: 1;
  left: 47%;
  bottom: 20%;
}
.section4__column1__images__image2--moveRight, .section4__column2__images__image2--moveRight, .section4__column3__images__image2--moveRight {
  top: 6%;
  left: 17%;
}
.section4__column1__text, .section4__column1__element1__text, .section4__column2__text, .section4__column2__element1__text, .section4__column3__text, .section4__column3__element1__text {
  width: 85%;
  margin-left: 22px;
}
.section4__column1__text__title, .section4__column1__element1__text__title, .section4__column2__text__title, .section4__column2__element1__text__title, .section4__column3__text__title, .section4__column3__element1__text__title {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 35px;
}
.section4__column1__text__parag, .section4__column1__element1__text__parag, .section4__column2__text__parag, .section4__column2__element1__text__parag, .section4__column3__text__parag, .section4__column3__element1__text__parag {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 30px;
}
.section4__column1__text__parag--bigger, .section4__column1__element1__text__parag--bigger, .section4__column2__text__parag--bigger, .section4__column2__element1__text__parag--bigger, .section4__column3__text__parag--bigger, .section4__column3__element1__text__parag--bigger {
  font-size: 16px;
  line-height: 22px;
}
.section4__column1__element2--green, .section4__column2__element2--green, .section4__column3__element2--green {
  background-color: #55DFB4;
  height: 200px;
  position: relative;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}
.section4__column1__element2__image, .section4__column2__element2__image, .section4__column3__element2__image {
  position: absolute;
  left: 45%;
  top: 65%;
  transform: translate(-50%, -50%);
}
.section4__column1__element1--bottomChange, .section4__column2__element1--bottomChange, .section4__column3__element1--bottomChange {
  margin-bottom: 0;
}
.section4__column1__images__image1 {
  background-image: url("./../img/macbook.png");
  height: 110px;
}
.section4__column1__images__image2 {
  background-image: url("./../img/circle.png");
  height: 127px;
  width: 127px;
}
.section4__column2__images__image1 {
  background-image: url("./../img/ellipse4.png");
  width: 132px;
  height: 132px;
  margin: 0 auto;
}
.section4__column2__images__image2 {
  background-image: url("./../img/iPhone.png");
  width: 175px;
  height: 135px;
  margin: 0 auto;
}
.section4__column3 {
  background-color: #F7F7F7;
  border: none;
}
.section4__column3__element1 {
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
}

.sectionPrices {
  padding-top: 53px;
}
.sectionPrices__title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 14px;
}
.sectionPrices__price {
  width: 75%;
  border-radius: 18px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.sectionPrices__price--red {
  border: 1px solid #FB3B64;
}
.sectionPrices__price--blue {
  border: 1px solid #07ACE6;
}
.sectionPrices__price--green {
  border: 1px solid #55DFB4;
  margin-bottom: 78px;
}
.sectionPrices__price__type {
  display: inline-block;
  position: relative;
  bottom: 25px;
  width: 50%;
  text-align: center;
}
.sectionPrices__price__type__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #13253B;
}
.sectionPrices__price__type__number {
  font-size: 46px;
  font-weight: 300;
  font-family: Open Sans;
  line-height: 64px;
}
.sectionPrices__price__type__number--red {
  color: #FB3B64;
}
.sectionPrices__price__type__number--blue {
  color: #07ACE6;
}
.sectionPrices__price__type__number--green {
  color: #55DFB4;
}
.sectionPrices__price__type__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253B;
}
.sectionPrices__price__features {
  margin-top: 25px;
  width: 50%;
  text-align: left;
  display: inline-block;
}
.sectionPrices__price__features__checkMark {
  background: url("./../img/checkbox.png");
  width: 11px;
  height: 11px;
  display: inline-block;
}
.sectionPrices__price__features__crossMark {
  background: url("./../img/cross.png");
  width: 11px;
  height: 11px;
  display: inline-block;
}
.sectionPrices__price__features__feature1, .sectionPrices__price__features__feature2, .sectionPrices__price__features__feature3, .sectionPrices__price__features__feature4, .sectionPrices__price__features__feature5 {
  margin-bottom: 20px;
  display: block;
}
.sectionPrices__price__features__feature1__label, .sectionPrices__price__features__feature2__label, .sectionPrices__price__features__feature3__label, .sectionPrices__price__features__feature4__label, .sectionPrices__price__features__feature5__label {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}
.sectionPrices__price__button {
  width: 150px;
  height: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 2em;
  border-radius: 23px;
  font-size: 13px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 18px;
  color: #FFFFFF;
}
.sectionPrices__price__button--red {
  border: 1px solid #FB3B64;
  background-color: #FB3B64;
}
.sectionPrices__price__button--blue {
  border: 1px solid #07ACE6;
  background-color: #07ACE6;
}
.sectionPrices__price__button--green {
  border: 1px solid #55DFB4;
  background-color: #55DFB4;
}

.sectionContact {
  width: 80%;
  margin: 0 auto;
}
.sectionContact__title {
  font-size: 40px;
  line-height: 47px;
}
.sectionContact__text {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 38px;
}
.sectionContact__info {
  margin-bottom: 53px;
}
.sectionContact__info__email, .sectionContact__info__phone {
  display: block;
  margin-bottom: 10px;
}
.sectionContact__info__email__icon, .sectionContact__info__phone__icon {
  display: inline-block;
  margin-right: 7px;
}
.sectionContact__info__email__text, .sectionContact__info__phone__text {
  display: inline-block;
  font-size: 16px;
  color: #A5A5A5;
  font-weight: 600;
  font-family: Open Sans;
  line-height: 22px;
  vertical-align: text-bottom;
}
.sectionContact__form__name, .sectionContact__form__email {
  margin-bottom: 42px;
}
.sectionContact__form__name__text, .sectionContact__form__email__text {
  display: block;
  font-size: 11px;
  font-weight: 600;
  font-family: Open Sans;
  line-height: 15px;
  letter-spacing: 3px;
  color: #08A6E4;
}
.sectionContact__form__name__input, .sectionContact__form__email__input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #95989A;
}
.sectionContact__form__name--margin-bottom-32, .sectionContact__form__email--margin-bottom-32 {
  margin-bottom: 32px;
}
.sectionContact__protection input[type=checkbox] {
  display: none;
}
.sectionContact__protection__check:not(:checked) + .sectionContact__protection__text::before {
  content: "";
  appearance: none;
  border: 1px solid #95989A;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.sectionContact__protection__check:checked + .sectionContact__protection__text::before {
  content: "✓";
  font-size: 11px;
  font-family: "FontAwesome";
  appearance: none;
  border: 1px solid #95989A;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.sectionContact__protection__text {
  width: 82%;
  display: inline-block;
  font-size: 12px;
  font-family: Open Sans;
  line-height: 16px;
  margin-bottom: 33px;
}
.sectionContact__protection__button {
  height: 57px;
  width: 226px;
  background-color: #08A6E4;
  color: #FFFFFF;
  border: 1px solid #08A6E4;
  border-radius: 35px;
  font-size: 13px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 18px;
  box-shadow: 5px 10px 14px #07ACE6;
  margin-bottom: 44px;
  position: relative;
  left: 8em;
}

.footer {
  box-shadow: 0 -5px 40px -20px #000000;
}
.footer__content {
  width: 50%;
  display: inline-block;
  margin-left: 17px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.footer__content__title {
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  color: #08A6E4;
}
.footer__content__text {
  font-size: 11px;
  font-family: Open Sans;
  line-height: 15px;
  color: #A5A5A5;
}
.footer__social-media {
  text-align: end;
  width: 15%;
  display: inline-block;
  position: relative;
  right: -25px;
}
.footer__social-media__facebook {
  position: absolute;
  bottom: 0;
  margin-left: 40px;
}
.footer__social-media__twitter {
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 1000px) {
  .header__content {
    display: flex;
  }
  .header__content__logo {
    width: 50%;
  }
  .header__content__button-menu__label {
    display: none;
  }
  .header__content__nav {
    width: 50%;
    display: flex;
    padding-top: 30px;
  }
  .header__content__nav__item {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 30px;
  }
  .header__content__nav ul {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sectionIntroduction__button {
    width: 440px;
  }
  .section2 {
    padding-bottom: 50px;
  }
  .section2__image {
    background-image: url("./../img/background.png");
  }
  .section3 {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .section3__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    width: 100%;
    margin-bottom: 2em;
  }
  .section3__column1, .section3__column2, .section3__column3 {
    display: inline-block;
    width: 33%;
  }
  .section4__column1, .section4__column2, .section4__column3 {
    display: flex;
    height: 370px;
  }
  .section4__column1__images, .section4__column2__images, .section4__column3__images {
    width: max-content;
  }
  .section4__column1__text, .section4__column1__element1__text, .section4__column2__text, .section4__column2__element1__text, .section4__column3__text, .section4__column3__element1__text {
    margin-top: 4%;
    width: 33%;
    height: fit-content;
  }
  .section4__column1__text__title, .section4__column1__element1__text__title, .section4__column2__text__title, .section4__column2__element1__text__title, .section4__column3__text__title, .section4__column3__element1__text__title {
    font-size: 36px;
    line-height: 42px;
  }
  .section4__column1__text__parag, .section4__column1__element1__text__parag, .section4__column2__text__parag, .section4__column2__element1__text__parag, .section4__column3__text__parag, .section4__column3__element1__text__parag {
    font-size: 16px;
    line-height: 22px;
  }
  .section4__column1 {
    flex-direction: row-reverse;
  }
  .section4__column1__text {
    border-bottom: 4px solid #FB3B64;
  }
  .section4__column1__images {
    left: 3%;
    top: 20%;
  }
  .section4__column1__images__image1 {
    background-image: url("./../img/macbook2.svg");
    width: 387px;
    height: 219px;
  }
  .section4__column1__images__image2 {
    background-image: url("./../img/rectange.svg");
    width: 255px;
    height: 255px;
    bottom: 38%;
  }
  .section4__column2__images {
    bottom: 8%;
    right: 15%;
  }
  .section4__column2__images__image1 {
    background-image: url("./../img/ellipse3-2.svg");
    width: 320px;
    height: 320px;
  }
  .section4__column2__images__image2 {
    background-image: url("./../img/iPhone2.svg");
    width: 426px;
    height: 328px;
    left: 2%;
  }
  .section4__column2__text {
    border-bottom: 4px solid #08A6E4;
  }
  .section4__column2__text__title {
    width: 70%;
  }
  .section4__column3 {
    padding-top: 0;
  }
  .section4__column3__element1 {
    width: 60%;
    margin-right: 7%;
  }
  .section4__column3__element1__text {
    width: 65%;
    height: auto;
    margin-top: 10%;
    border-bottom: 4px solid #55DFB4;
  }
  .section4__column3__element2 {
    width: 42%;
    height: auto;
  }
  .section4__column3__element2__image {
    top: 52%;
  }
}

/*# sourceMappingURL=styles.css.map */
