$font_primary: Raleway;
$font_secondary: Open Sans;
$primary_color: #08A6E4;
$secondary_color: #07ACE6;
$red_color: #FB3B64;
$green_color: #55DFB4;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: $font_primary;
   font-weight: 400;
   font-size: 0;
}
body {
   min-width: 320px;
}

.header {
   width: 100%;

   &--shadow {
      box-shadow: 0 3px 6px #000000;
   }

   &__content {
      display: block;
      padding-bottom: 10px;

      &__logo {
         display: inline-block;
         font-size: 32px;
         font-weight: 300;
         margin-top: 17px;
         margin-left: 6%;
   
         &--blue {
            color: $primary_color;
         }
      }
   
      &__button-menu {
         display: inline-block;
         

         &__checkbox {
            position: absolute;
            left: -9999px;
         }

         &__label {
            position: absolute; 
            top: 0.8em;
            right: 2em;
            font-size: 25px;

            &--blue {
               color: $secondary_color;
            }
         }
      }

      &__nav {
         display: none;
         padding-top: 40px;
         margin-left: 25px;
   
         &__item {
            font-size: 11px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 3px;
            font-family: $font_secondary;
            list-style: none;
            margin-bottom: 14px;
            color: #A5A5A5;

            &--active {
               color: #000000;
            }
         }
      }
   }

   #menu:checked ~ .header__menu {
      display: block;
   } 
   
}

.sectionIntroduction {
   width: 100%;
   display: block;
   margin-top: 100px;
   

   &__content {
      width: 60%;
      text-align: center;
      margin: 0 auto;
   }

   &__header {
      font-size: 35px;
      margin-bottom: 20px;
   }

   &__paragraph {
      font-size: 16px;
      font-family: $font_secondary;
      margin-bottom: 28px;
      
   }

   &__button {
      background-color: $primary_color;
      color: #FFFFFF;
      border-radius: 40px;
      width: 100%;
      height: 67px;
      border: 1px solid $primary_color;
      box-shadow: 5px 10px 14px $secondary_color;
      margin-bottom: 51px;

      &--text {
         font-size: 16px;
         font-family: $font_secondary;
         font-weight: 700;
      }
   }
}

.section2 {
   display: block;
   width: 100%;
   
   margin: 0 auto;
   margin-bottom: 20px;

   &__image {
      background-image: url('./../img/background1.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 267px;
      width: 100%;
   }
}

.section3 {
   display: block;
   width: 100%;
   text-align: center;

   &__title {
      font-size: 30px;
      font-weight: 300;
      margin: 0 auto;
      width: 60%;
      margin-bottom: 1em;
   }

   &__column1, &__column2, &__column3 {
      width: 40%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 25px;

      &__img {
         position: relative;
         margin-bottom: 14px;
         left: 15px;

         &--move {
            left: 32px;
         }

         &--move2 {
            left: 26px;
         }

         
      }

      &__img2 {
         position: relative;
         bottom: 23px;
         right: 22px;

         &--move {
            right: 15px;
         }

         &--move2 {
            right: 10px;
         }
      }

      &__number {
         font-size: 20px;
         font-weight: 800;
         letter-spacing: 6px;
         margin-bottom: 19px;
      }

      &__text {
         font-size: 17px;
         color: #A5A5A5;
      }
   }
}

.section4 {
   display: block;
   width: 100%;
   height: auto;
   background-color: #F7F7F7;
   padding-top: 42px;
   padding-bottom: 42px;

   &__column1, &__column2, &__column3 {
      width: 80%;
      background-color: #FFFFFF;
      margin: 0 auto;
      padding-top: 37px;
      margin-bottom: 41px;
      border: 1px solid #E8E9ED;
      border-radius: 5px;

      &__images {
         position: relative;
         text-align: center;
         margin: 0 auto;
         margin-bottom: 27px;
         width: 194px;

         &__image1 {
            position: relative;
            z-index: 2;

            &--moveTop {
               z-index: 1;
            }
         }
 
         &__image2 {
            position: absolute;
            z-index: 1;
            left: 47%;
            bottom: 20%;

            &--moveRight {
               top: 6%;
               left: 17%;
            }
         }
      }

      &__text {
         width: 85%;
         margin-left: 22px;

         &__title {
            margin-bottom: 10px;
            font-size: 30px;
            line-height: 35px;
         }

         &__parag {
            font-family: $font_secondary;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 30px;

            &--bigger {
               font-size: 16px;
               line-height: 22px;
            }
         }
      }

      &__green {
         background-color: $green_color;
         height: 200px;
         position: relative;
         border: 1px solid #E8E9ED;
         border-radius: 5px;

         &__image {
            position: absolute;
            left: 45%;
            top: 65%;
            transform: translate(-50%,-50%);
         }
      }

      &--bottomChange {
         margin-bottom: 0;
      }

      


   }

   &__column1 {

      &__images {

         &__image1 {
            background-image: url('./../img/macbook.png');
            height: 110px;
         }

         &__image2 {
            background-image: url('./../img/circle.png');
            height: 127px;
            width: 127px;
         }
      }
   }

   &__column2 {

      &__images {

         &__image1 {
            background-image: url('./../img/ellipse4.png');
            width: 132px;
            height: 132px;
            margin: 0 auto;
         }

         &__image2 {
            background-image: url('./../img/iPhone.png');
            width: 175px;
            height: 135px;
            margin: 0 auto;
         }
      }
   }
}

.sectionPrices {

   padding-top: 53px;
   
   

   &__title {
      text-align: center;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 14px;
   }

   &__price {
      width: 75%;
      border-radius: 18px;
      margin: 0 auto;
      margin-bottom: 55px;

      &--red {
         border: 1px solid $red_color;
      }

      &--blue {
         border: 1px solid $secondary_color;
      }

      &--green {
         border: 1px solid $green_color;
         margin-bottom: 78px;
      }

      &__type {
         display: inline-block;
         position: relative;
         bottom: 25px;
         width: 50%;
         text-align: center;

         &__title {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #13253B;
         }

         &__number {
            font-size: 46px;
            font-weight: 300;
            font-family: $font_secondary;
            line-height: 64px;
            

            &--red {
               color: $red_color;
            }

            &--blue {
               color: $secondary_color;
            }

            &--green {
               color: $green_color;
            }
         }

         &__text {
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #13253B;
         }
      }

      &__features {
         margin-top: 25px;
         width: 50%;
         text-align: left;
         display: inline-block;

         &__checkMark {
            background: url('./../img/checkbox.png');
            width: 11px;
            height: 11px;
            display: inline-block;
         }

         &__crossMark {
            background: url('./../img/cross.png');
            width: 11px;
            height: 11px;
            display: inline-block;
         }

         &__feature1, &__feature2, &__feature3, &__feature4, &__feature5 {
            margin-bottom: 20px;
            display: block;

            &__label {
               display: inline-block;
               font-size: 14px;
               margin-left: 10px;
            }
         }
      }

      &__button {
         width: 150px;
         height: 50px;
         display: block;
         margin: 0 auto;
         position: relative;
         top: 2em;
         
         border-radius: 23px;
         font-size: 13px;
         font-family: $font_secondary;
         font-weight: 700;
         line-height: 18px;
         color: #FFFFFF;

         &--red {
            border: 1px solid $red_color;
            background-color: $red_color;
         }

         &--blue {
            border: 1px solid $secondary_color;
            background-color: $secondary_color;
         }

         &--green {
            border: 1px solid $green_color;
            background-color: $green_color;
         }

      }
   }

   
}

.sectionContact {

   width: 80%;
   margin: 0 auto;

   &__title {
      font-size: 40px;
      line-height: 47px;
   }

   &__text {
      font-family: $font_secondary;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 38px;
   }

   &__info {

      margin-bottom: 53px;

      &__email, &__phone {
         display: block;
         margin-bottom: 10px;
   
         &__icon {
            display: inline-block;
            margin-right: 7px;
         }
   
         &__text {
            display: inline-block;
            font-size: 16px;
            color: #A5A5A5;
            font-weight: 600;
            font-family: $font_secondary;
            line-height: 22px;
            vertical-align: text-bottom;
            
         }
      }

   }

   &__form {

      &__name, &__email {

         margin-bottom: 42px;

         &__text {
            display: block;
            font-size: 11px;
            font-weight: 600;
            font-family: $font_secondary;
            line-height: 15px;
            letter-spacing: 3px;
            color: $primary_color;
         }

         &__input {
            display: block;
            width: 100%;
            height: 30px;
            border: none;
            border-radius: unset;
            border-bottom: 1px solid #95989A;
         }

         &--margin-bottom-32 {
            margin-bottom: 32px;
         }
      }
   }

   &__protection {

      input[type=checkbox] {
         display: none;
      }

      &__check:not(:checked) + &__text::before {
         content: '';
         appearance: none;
         border: 1px solid #95989A;
         border-radius: 4px;
         width: 24px;
         height: 24px;
         display: inline-block;
         vertical-align: top;
         margin-right: 10px;
      }

      &__check:checked + &__text::before {
         content: '\2713';
         font-size: 11px;
         font-family: 'FontAwesome';
         appearance: none;
         border: 1px solid #95989A;
         border-radius: 4px;
         width: 24px;
         height: 24px;
         display: inline-block;
         vertical-align: top;
         margin-right: 10px;
      }

      &__text {
         width: 82%;
         display: inline-block;
         font-size: 12px;
         font-family: $font_secondary;
         line-height: 16px;
         margin-bottom: 33px;
      }

      &__button {
         height: 57px;
         width: 226px;
         background-color: $primary_color;
         color: #FFFFFF;
         border: 1px solid $primary_color;
         border-radius: 35px;
         font-size: 13px;
         font-family: $font_secondary;
         font-weight: 700;
         line-height: 18px;
         box-shadow: 5px 10px 14px $secondary_color;
         margin-bottom: 44px;
         position: relative;
         left: 8em;
      }
   }

   
}

.footer {
   box-shadow: 0 -5px 40px -20px #000000;

   &__content {
      width: 50%;
      display: inline-block;
      margin-left: 17px;
      margin-top: 22px;
      margin-bottom: 22px;

      &__title {
         font-size: 26px;
         font-weight: 300;
         line-height: 30px;
         color: $primary_color;
         
      }

      &__text {
         font-size: 11px;
         font-family: $font_secondary;
         line-height: 15px;
         color: #A5A5A5;
      }
   }

   &__social-media {
      text-align: end;
      width: 15%;
      display: inline-block;
      position: relative;
      right: -25px;

      &__facebook {
         position: absolute;
         bottom: 0;
         margin-left: 40px;
      }

      &__twitter {
         position: absolute;
         bottom: 0;
      }
   }
}

@media only screen and (min-width:1000px) {
   
   .header {

      &__content {

         display: flex;

         &__logo {
            width: 50%;
         }

         &__button-menu {

            &__label {
               display: none;
            }
         }

         &__nav{
            width: 50%;
            display: flex;
            padding-top: 30px;

            &__item {
               display: flex;
               justify-content: center;
               width: 25%;
               margin-left: 30px;
            }
         }

         &__nav ul {
            width: 100%;
            display: flex;  
            align-items: center;
         }
      }

      
   }

   .sectionIntroduction {

      &__button {
         width: 440px;
      }
   }

   .section2 {
      padding-bottom: 50px;

      &__image {
         background-image: url('./../img/background.png');
      }
   }

   .section3 {

      width: 75%;
      margin: 0 auto;
      padding-bottom: 100px;

      &__title {
         font-weight: 400;
         font-size: 36px;
         line-height: 42px;
         width: 100%;
         margin-bottom: 2em;
      }

      &__column1, &__column2, &__column3 {
         display: inline-block;
         width: 33%;

      }
   }

   .section4 {

      &__column1, &__column2, &__column3 {
         display: flex;
         height: 350px;

         &__images {
            width: max-content;
            top: 20%;
         }

         &__text {
            width: 30%;

            &__title {
               font-size: 36px;
               line-height: 42px;
            }

            &__parag {
               font-size: 16px;
               line-height: 22px;
            }
         }
      }

      &__column1 {
         flex-direction: row-reverse;

         &__text {
            margin-top: 4%;
            height: fit-content;
            border-bottom: 4px solid #FB3B64;
         }

         &__images {

            &__image1 {
               background-image: url('./../img/macbook2.svg');
               width: 387px;
               height: 219px;
            }

            &__image2 {
               background-image: url('./../img/rectange.svg');
               width: 255px;
               height: 255px;
               bottom: 38%;
            }


         }
      }
   }

}
